<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Protected Page</title>
</head>
<body>
  <h2>This page is protected!</h2>
  <img width="150" src="http://cdn.dribbble.com/users/2190368/screenshots/4369474/gold-coins-treasure-chest-animated-icons.gif"/>
  <h4>You are logged in as <%= user.username %></h4>
</body>
</html>